.bgDiv_general {
    width: 100%;
    height: 100vh;
    background-size: cover;
    position: relative;
}
.bkgOverlay_general {
    opacity: .65;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}
.capsuless_general {
    opacity: .99;
}

.notepaper-title_general {
    position: relative;
    padding: 29px 20px 20px 40px;
    max-width: 210px;
    line-height: 0px;
    color: #6a5f49;
    background-color: #f2f6c1;
    background-image: -webkit-repeating-linear-gradient(top, transparent 0%, transparent 29px, rgba(239, 207, 173, 0.7) 29px, rgba(239, 207, 173, 0.7) 30px);
    background-image: -moz-repeating-linear-gradient(top, transparent 0%, transparent 29px, rgba(239, 207, 173, 0.7) 29px, rgba(239, 207, 173, 0.7) 30px);
    background-image: -o-repeating-linear-gradient(top, transparent 0%, transparent 29px, rgba(239, 207, 173, 0.7) 29px, rgba(239, 207, 173, 0.7) 30px);
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 65px 0px 15px 50px;
    overflow-wrap: break-word;
  }
  
  .notepaper-title_general:before, .notepaper-title_general:after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
  }
  
  .notepaper-title_general:before {
    left: 28px;
    width: 2px;
    border: solid #efcfad;
    border-color: rgba(239, 207, 173, 0.9);
    border-width: 0 1px;
  }
  
  .notepaper-title_general:after {
    z-index: -1;
    background: rgba(242, 246, 193, 0.9);
    border: 1px solid rgba(170, 157, 134, 0.7);
    -webkit-transform: rotate(2deg);
    -moz-transform: rotate(2deg);
    -ms-transform: rotate(2deg);
    -o-transform: rotate(2deg);
    transform: rotate(2deg);
  }
  
  .text-title_general {
    font-family: Georgia, serif;
    font-size: 20px;
    margin : 0;
    padding-bottom: .75em;
  }
  .holderDiv {
    position: absolute;
    width: 100%;
    min-height: 100vh;
  }

  .postit_general {
    text-decoration:none;
    color:#000;
    background:#f0f5c0;
    display:block;
    max-width:10em;
    padding:1em;
    margin-bottom: 1em;
    margin-left: 65px;
  }
  .postit_general p{
    font-size: 1em;
    font-weight: bolder;
    text-align: center;
  }