.react-draggable {
    display: inline-block;
    position: absolute;
}

.musicPlayer {
    padding: 1em;
    min-height: 100px;
    width: 200px;
    opacity: .85;
}
.musicControls {
    text-align: center;
    margin: .5em;
}
.musicTitle {
    color: white;
    text-align: center;
    margin: .5em;
    font-weight: bold;
}
.musicGenre {
    color: white;
    text-align: center;
}

.iconButtons {
    opacity: 0.6;
    color: white;
    border-radius: 100%;
    outline: none;
    border: none;
    cursor: pointer;
}

.testIcon {
    opacity: .75;
    margin-right: .5em;
    color: white;
}

.testIcon:hover {
    opacity: .85;
}

.testIcon:active {
    opacity: 1;
}
.userPiny_music {
    background-image: -moz-radial-gradient(45px 45px 45deg, circle cover, yellow 50%, black 100%);
    background-image: -webkit-radial-gradient(45px 45px, circle cover, yellow, black);
    background-image: radial-gradient(yellow 50%, black 100%);
    border-radius: 10px;
    width: 15px;
    height: 15px;
    overflow: hidden;
    left: 50%;
      top: 10px;
      position: relative;
      z-index: 10;
      box-shadow: 2px 1px 5px rgba(0, 0, 0, 0.5);
  }