/* Style the search box inside the navigation bar */
.search input[type=text] {
    padding: 6px;
    border: none;
    font-size: 17px;
    border-radius: .25em;
}

/* .searchIcon {
    color: white;
    position: absolute;
    right: 0;
} */