/* Style the search box inside the navigation bar */
input[type=text] {
    padding: 6px;
    border: none;
    font-size: 17px;
}

.searchIcon {
    color: white;
    padding-left: 1%;
    position: absolute;
    margin-top: 0.75%;
}