.caption-capsule {
    width: -webkit-fill-available;
    height: 25px;
}

.options {
    color: white;
    display: flex;
    margin: 0.4em 0px 0.4em 22%;
}

.public-margin {
    margin-right: 15%;
}

.radiobtns {
    color: white;
}

.radio1 {
    margin-right: 13%;
}

.subtext {
    color: #E0E0E0;
    margin-left: 5%;
    font-size: 13px;
}

.sectionLabelTag {
    color: white;
    display: block;
    margin-top: .5em;
}

.addCapsuleCard div.DraftEditor-root {
    width: 310px;
}

/*For Inputs*/
.addCapsuleCard input[type="text"] {
    border: 0;
    outline: 0;
    background: transparent;
    border-bottom: 2px solid white;
    width: 100%;
}
.addCapsuleCard ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: white;
    opacity: .75; /* Firefox */
}
.addCapsuleCard :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: white;
}

.addCapsuleCard ::-ms-input-placeholder { /* Microsoft Edge */
    color: white;
}
.addCapsuleCard input[type="text"]:focus { color: white; }
.dz-progress {
    display: none;
}
  