.capsuleDisplay {
  width: 250px;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.5);
    text-align: center;
    display: inline-block;
    overflow-wrap: break-word;
    margin: 1em;
    opacity: .65;
    min-height: 250px;
  }
  .capsuleDisplayGroup {
      text-align: center;
      display: inline-block;
    }
  .capsuleDisplay .color-overlay {
    /* Rectangle 11: */
    background: rgba(84, 104, 110, 0.4);
    width: 250px;
    height: 250px;
    transition: 0.3s cubic-bezier(0.33, 0.66, 0.66, 1);
  }
  .capsuleDisplay:hover .card-info {
    opacity: 1;
    bottom: 120px;
  }
  .capsuleDisplay:hover .color-overlay {
    background: rgba(84, 104, 110, 0.8);
  }
  
  .title-content {
    text-align: center;
    cursor: pointer;
  }
  
  h3 {
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 2px;
    color: #c0e8ff;
    font-family: 'Roboto', sans-serif;
    margin: 1em;
  }
  
  hr {
    width: 50px;
    height: 3px;
    margin: 20px auto;
    border: 0;
    background: #D0BB57;
  }
  
  .intro {
    width: 170px;
    margin: 0 auto;
    color: #DCE3E7;
    font-family: 'Droid Serif', serif;
    font-size: 13px;
    font-style: italic;
    line-height: 18px;
  }
  
  .card-info {
    width: 100%;
    color: #DCE3E7;
    font-family: 'Droid Serif', serif;
    font-style: 16px;
    opacity: 0;
    padding-top: 1em;
    padding-bottom: 1em;
    transition: bottom 0.3s, opacity 0.3s cubic-bezier(0.33, 0.66, 0.66, 1);
  }

  .capsulePin {
    background-image: -moz-radial-gradient(45px 45px 45deg, circle cover, yellow 50%, black 100%);
    background-image: -webkit-radial-gradient(45px 45px, circle cover, yellow, black);
    background-image: radial-gradient(yellow 50%, black 100%);
    border-radius: 10px;
    width: 20px;
    height: 20px;
    overflow: hidden;
}
.capsulePiny {
  background-image: -moz-radial-gradient(45px 45px 45deg, circle cover, yellow 50%, black 100%);
  background-image: -webkit-radial-gradient(45px 45px, circle cover, yellow, black);
  background-image: radial-gradient(yellow 50%, black 100%);
  border-radius: 10px;
  width: 15px;
  height: 15px;
  overflow: hidden;
  left: 130px;
    top: 35px;
    position: relative;
    z-index: 10;
    box-shadow: 2px 1px 5px rgba(0, 0, 0, 0.5);
}

.capsuleDisplay .addButtons {
  background: none;
  opacity: 0.6;
  border-radius: 100%;
  outline: none;
  border: none;
  cursor: pointer;
  position: relative;
  float: left;
}
.capsuleDisplay .addIcons {
  opacity: .5;
  margin-right: .5em;
  color: white;
}

.capsuleDisplay .addIcons:hover {
  opacity: .85;
}

.capsuleDisplay .addIcons:active {
  opacity: 1;
}

.capsuleDisplay .deleteButtons {
  background: none;
  opacity: 0.6;
  border-radius: 100%;
  outline: none;
  border: none;
  cursor: pointer;
  position: relative;
  float: right;
}
.capsuleDisplay .deleteIcons {
  opacity: .5;
  margin-right: .5em;
  color: white;
}

.capsuleDisplay .deleteIcons:hover {
  opacity: .85;
}

.capsuleDisplay .deleteIcons:active {
  opacity: 1;
}