div.DraftEditor-root {
    background-color: #fffef7;
    height:300px;
    width: 500px;
    overflow-y: auto;
    padding:20px;
    font-size: 18px;
    font-family: 'calibri', sans-serif;
}

div.DraftEditor-editorContainer {
    margin-top:.5em;
}