/*add button*/

.our-btn-add {
    font-size: 40px;
    opacity: 0.6;
    color: white;
    padding: 0px 0px;
    min-width: 50px;
    min-height: 50px;
    border-radius: 100%;
    outline: none;
    border: none;
    cursor: pointer;
    /* puts button on bottom part of the screen */
    bottom: 0px;
    left: 0px;
    margin: .25em;
    position: fixed;
}

.addIcon {
    opacity: .75;
    margin-right: .5em;
    bottom: 9px;
    left: 9px;
    position: absolute;
    color: white;
}
.addIcon:hover {
    opacity: .85;
}
.addIcon:active {
    opacity: 1;
}