
.our-btn-default {
    min-width: 75px;
    height: 30px;
    font-size: 14px;
    text-transform: uppercase;
    text-align: center;
    vertical-align: middle;
    padding: 6px 8px;
    margin: 6px;
    min-width: 75px;
    border-radius: 2px;
    outline: none;
    border: none;
    cursor: pointer;
}

/* Primary Button */
.our-btn-primary {
    color: white;
    background-color: #175764;
    transition: box-shadow .3s ease;
}

.our-btn-primary:hover {
    background-color: #175764;
    transition: box-shadow .3s ease;
    box-shadow: inset -3px -3px 15px 5px rgba(255, 255, 255, 0.25),
    inset 3px 3px 15px 5px rgba(255, 255, 255, 0.25);
}

.our-btn-primary:active {
    background-color: #175764;
    transition: box-shadow .3s ease;
    box-shadow: inset -2px -2px 15px 0 rgba(0, 0, 0, 0.12),
    inset 2px 2px 15px 0 rgba(0, 0, 0, 0.12);
}

.our-btn-primary:disabled {
    color: rgba(0, 0, 0, 0.87);
    border: none;
    background-color: rgba(0, 0, 0, 0.38);
    opacity: .38;
}

/* Secondary Button */
.our-btn-secondary {
    color: #b4c1c4;
    background-color: transparent;
    transition: background-color .3s ease;
    border: solid 1px #80989d;
}

.our-btn-secondary:hover {
    color: white;
    background-color: #175764;
    transition: all .3s ease;
    border: solid 1px #175764;
}

.our-btn-secondary:active {
    color: white;
    background-color: #175764;
    transition: background-color .3s ease;
    border: 1px solid rgba(0, 0, 0, .12);
    box-shadow: inset -2px -2px 15px 0 rgba(0, 0, 0, 0.12),
      inset 2px 2px 15px 0 rgba(0, 0, 0, 0.12);
}

.our-btn-secondary:disabled {
    color: rgba(0, 0, 0, 0.87);
    border: solid 1px rgba(0, 0, 0, 0.38);
    background-color: transparent;
    opacity: .38;
}

/* Tertiary Button */
.our-btn-tertiary {
    color: #80989d;
    background-color: transparent;
    transition: background-color .3s ease;
    border: solid 1px transparent;
}

.our-btn-tertiary:hover {
    color: #175764;
    background-color: rgba(0, 148, 217, 0.12);
    transition: all .3s ease;
    border: solid 1px transparent;
}

.our-btn-tertiary:active {
    color: #175764;
    background-color: rgba(0, 148, 217, 0.38);
    transition: background-color .3s ease;
    border: 1px solid transparent;
}

.our-btn-tertiary:disabled {
    color: rgba(0, 0, 0, 0.87);
    border: solid 1px transparent;
    background-color: transparent;
    opacity: .38;
} 

/* Success Button */
.our-btn-success {
    color: white;
    background-color: #4ba444;
    transition: box-shadow .3s ease;
}

.our-btn-success:hover {
    background-color: #4ba444;
    transition: box-shadow .3s ease;
    box-shadow: inset -3px -3px 15px 5px rgba(255, 255, 255, 0.25),
    inset 3px 3px 15px 5px rgba(255, 255, 255, 0.25);
}

.our-btn-success:active {
    background-color: #4ba444;
    transition: box-shadow .3s ease;
    box-shadow: inset -2px -2px 15px 0 rgba(0, 0, 0, 0.12),
    inset 2px 2px 15px 0 rgba(0, 0, 0, 0.12);
}

.our-btn-success:disabled {
    color: rgba(0, 0, 0, 0.87);
    border: none;
    background-color: rgba(0, 0, 0, 0.38);
    opacity: .38;
}

/* Error Button */
.our-btn-error {
    color: white;
    background-color: #b71620;
    transition: box-shadow .3s ease;
}

.our-btn-error:hover {
    background-color: #b71620;
    transition: box-shadow .3s ease;
    box-shadow: inset -3px -3px 15px 5px rgba(255, 255, 255, 0.25),
    inset 3px 3px 15px 5px rgba(255, 255, 255, 0.25);
}

.our-btn-error:active {
    background-color: #b71620;
    transition: box-shadow .3s ease;
    box-shadow: inset -2px -2px 15px 0 rgba(0, 0, 0, 0.12),
    inset 2px 2px 15px 0 rgba(0, 0, 0, 0.12);
}

.our-btn-error:disabled {
    color: rgba(0, 0, 0, 0.87);
    border: none;
    background-color: rgba(0, 0, 0, 0.38);
    opacity: .38;
}