.reactLink {
    background-color: #003057;
    box-shadow: 0 5px 0 #F9F6E5;
    color: white;
    padding: 1em 1.5em;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
}

.reactLink:hover {
    background-color: #002233;
    cursor: pointer;
}

.reactLink:active {
    box-shadow: none;
    top: 5px;
}