.navBar {
    display: block;
    background-color: rgb(0, 48, 87, .65);
    width: 100%;
    color: white;
    padding-bottom: .25em;
    padding-top: .5em;
    position: fixed;
    top: 0;
}
.search {
    float: left;
    margin-left: .25em;
    opacity: .75;
}
.icons {
    float: right;
    margin-top: .15em;
    font-size: 25px;
    cursor: pointer;
}
.icon {
    opacity: .75;
    margin-right: .5em;
}