.photoThing_general {
    margin-bottom: 1em;
    width: 25em;
    margin-left: 100px;
}
.settingsButton {
    position: absolute;
    right: 1em;
    bottom: 1em;
}
.resetButton {
    text-align: center;
}
.colorPicker {
    margin-left: 100px;
    margin-bottom: 1em;
}
.sketch-picker {
    margin-right: 0;
    width: 24em;
}