.info {
    color: white;
    font-style: oblique;
    margin-bottom: .5em;
    text-align: center;
}
.addMusicCard {
    overflow-y: auto;
}
.music {
    margin-bottom: .75em;
}
/*For Inputs*/
.addMusicCard input {
    border: 0;
    outline: 0;
    background: transparent;
    border-bottom: 2px solid white;
    width: 100%;
}
.addMusicCard ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: white;
    opacity: .75; /* Firefox */
}
.addMusicCard :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: white;
}

.addMusicCard ::-ms-input-placeholder { /* Microsoft Edge */
    color: white;
}
.addMusicCard input:focus { color: white; }
.dz-progress {
    display: none;
}