.info {
    color: white;
    font-style: oblique;
    margin-bottom: .5em;
    text-align: center;
}
.photoImg {
    display: block;
    margin: auto;
    width: 15em;
}
.addPhotoCard {
    overflow-y: auto;
}
.photo {
    margin-bottom: .75em;
    max-height: 25em;
    max-width: 25em;
}
.photoThing {
    margin-bottom: .75em;
    max-height: 45em;
    max-width: 45em;
}
/*For Inputs*/
.addPhotoCard input {
    border: 0;
    outline: 0;
    background: transparent;
    border-bottom: 2px solid white;
    width: 100%;
}
.addPhotoCard ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: white;
    opacity: .75; /* Firefox */
}
.addPhotoCard :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: white;
}

.addPhotoCard ::-ms-input-placeholder { /* Microsoft Edge */
    color: white;
}
.addPhotoCard input:focus { color: white; }