.react-draggable {
    display: inline-block;
    position: absolute;
}

.handle {
    background-color: wheat;
}

.quoteSpace {
    background-color: rgb(0, 48, 87);
    padding: 1em;
    min-height: 80px;
    width: 200px;
    opacity: .85;
}

.quote {
    color: white;
    overflow-wrap: break-word;
    word-wrap: break-word;
    table-layout: fixed;
}

.author {
    color: white;
    overflow-wrap: break-word;
    word-wrap: break-word;
    table-layout: fixed;
}